.admin-menu-boby {
    padding: 10px 0 50px;
}

.menu-tit-bundle {
    position: relative;
    margin: 10px 20px 0 20px;
    line-height: 18px;
    font-size: 19px;
    font-weight: bold;
}

.menu-required {
    font-size: 10px;
    color: red;
    vertical-align: top;
}

.admin-menu-row {
    position: relative;
    padding: 40px 50px 0 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

select option[value=""][disabled] {
    display: none;
}

.menu-tit-nutrition {
    position: absolute;
    margin: 10px 20px 0 20px;
    line-height: 18px;
    font-size: 11pt;
    font-weight: bold;
}

.nutri-input {
    padding: 0;
    padding-left: 22px;
}

.menu-subtitle {
    margin-top: 50px;
    font-weight: bold;
}

#insert-btn-area {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

.menu-textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    height: 150px;
    padding: 15px;
}

.row-del-btn {
    height: 39px;
}

.menu-submit-area {
    padding: 40px 0 0;
}

.menu-submit-btn {
    margin: 0 auto;
    font-size: 22px;
    display: block;
    vertical-align: middle;
    border: 0 none;
    width: 300px;
    height: 50px;
    border-radius: 16px;
}

.menu-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu-img-area{
    height: 400px;
}

.menu-foot-btns{
    padding: 40px 0 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.menu-foot-btns > button{
    margin: 0 20px 0 20px;
    font-size: 22px;
    display: inline-block;
    width: 250px;
    height: 50px;
    border-radius: 16px;
}
